body{
    text-align: center;
}
.links{
    max-width: 100%;
    padding: 0 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin-bottom: 4rem;
}

#my-canvas{
    border: 2px solid #aab;
}
#my-canvas2{
    border: 2px solid #aab;
}
#my-canvas3{
    border: 2px solid #aab;
}
